# Project ignores
vga_project.cache/
vga_project.hw/
vga_project.sim/

# Demo #1 ignores
vga_demo.hw/
vga_demo.cache/
vga_demo.sim/
vivado.log
vivado_pid3988.str
vivado.jou

# Demo #2 ignores
vga_moving_block.cache/
vga_moving_block.hw
vga_moving_block.sim/